body{
  background-color: rgb(184, 176, 167)
}
h1{
  text-align: center;
  margin: 5%;
}

#java{
  display: none;
  
}
#python{
  display: none;
}
#csharp{
  display: none;
}


.card {
  box-shadow: 0 8px 16px 0 #000000;
  transition: 0.3s;
  border-radius: 5px; 
  background: skyblue;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
  
}
button {
  padding      : 5px;
  font         : bold sans-serif;
  border       : 10px solid black;
  border-radius: 5px;
  background   : none;
  cursor       : pointer;
  margin-left: 25%;
  margin-top: 5%;
  
}

#data{
  box-shadow: 0 8px 16px 0 #000000;
  transition: 0.3s;
  border-radius: 5px;
  background: rgb(166, 172, 166);
  padding: 5%;
  
  margin-bottom: 10%;
}

.container1{
  margin: 8%;
}

